<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <div class="logoCont col-md-3">
          <img class="img-fluid" src="images/logo.svg" alt="Logo">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/brokers" class="nav-link" routerLinkActive="active">Brokers</a>
          </li>


          <li *ngIf="!isAuthenticated" class="nav-item">
            <button class="btn btn-primary text-white" (click)="openLogin()">Iniciar sesión</button>
          </li>

          <li *ngIf="isAuthenticated" class="nav-item dropdown user">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user?.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngIf="user?.roleId === adminId"><a routerLink="/brokers-admin" class="dropdown-item">Gestión de brokers</a></li>
              <li *ngIf="user?.roleId === adminId"><a routerLink="/users-admin" class="dropdown-item">Gestión de usuarios</a></li>
              <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<app-login-modal (closeEvent)="closeLogin()"></app-login-modal>

