<div class="modal fade show d-flex justify-content-center align-items-center" tabindex="-1">
  <div class="modal-dialog w-100">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">{{ isRegister ? 'Registrarse' : 'Iniciar sesión' }}</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <!-- FORMULARIO DE LOGIN -->
        <form *ngIf="!isRegister" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Ingresar</button>
        </form>

        <!-- FORMULARIO DE REGISTRO -->
        <form *ngIf="isRegister" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="lastName">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrarse</button>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-link" (click)="toggleForm()">
          {{ isRegister ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Regístrate' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Fondo oscuro -->
<div  #modalBackdrop class="modal-backdrop fade show" (click)="closeOnBackdropClick($event)"></div>
