/* broker-list.component.css */
.broker-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.broker-card:hover{
  scale: 1.015;
  transform: ease-in-out 0.35s;
  border-color: #60C86D;
}
.broker-header {
  display: flex;
  align-items: center;
}


.broker-flag {
  width: 32px;
  height: 20px;
}
.score{
  font-size: 3.25em;
  font-weight: bold;
}
.regulado{
  color: #338066;
  border-color: #3380661A;
  background: #3380661A;
}
