<h2 mat-dialog-title>{{ data ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Número de Télefono</mat-label>
    <input matInput formControlName="phoneNumber" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width" *ngIf="!data">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>


</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">Guardar</button>
</mat-dialog-actions>
